////////////////////
// SASS Variables
////////////////////

// Typography, baseline grid
$jubilat: 'jubilat', Georgia, serif;
$guardian: 'Guardian Egyptian Web', Georgia, serif;
$alt-gothic: 'alternate-gothic-no-1-d', sans-serif; // actually Alternate Gothic
$georgia: Georgia, serif;
$arial: Arial, Helvetica, Geneva, sans-serif;
$glyphs: 'outside-online-icons';

$font: 'Guardian Egyptian Web', Georgia, serif;
$font-secondary: 'HelveticaNeue', Arial, Helvetica, Geneva, sans-serif;
$sans: $font-secondary;
$serif: Georgia, serif;
$glyphs: 'outside-online-icons';
$zennat-pro-one: 'ZennatProOne', 'Guardian Egyptian Web', Georgia, serif;
